.container p{
    color: white;
    margin-bottom: 2vw;
    font-size: clamp(1rem, 3vw, 1.2rem);
}

.sos-card {
            background-color: #3e3e3e;
            display: flex;
            flex-direction: column;
            padding: 4vw;
            border-radius: 8px;
            margin-bottom: 0;
            margin-top: 0;
        }
        
        .sos-card.reverse {
            margin-top: 0;
            margin-bottom: 0;
            background-color: #292929;
        }
        
        .sos-card img {
            width: 100%;
            height: auto;
            max-height: 200px;
            object-fit: cover;
            border-radius: 5px;
        }
        
        .sos-card .content {
            flex: 1;
        }
        
        .sos-card h2 {
            font-size: clamp(1.4rem, 4vw, 2rem);
            font-weight: bold;
            margin-bottom: 2vw;
            color: white;
        }

        .sos-card h3 {
            font-size: clamp(1.1rem, 2vw, 1.4rem);
            margin-bottom: 1vw;
            color: white;
        }
        
        .sos-card p {
            margin-bottom: 3vw;
            color: #ddd;
            font-size: clamp(1rem, 3vw, 1.2rem);
            line-height: 1.5;
        }
        
        .sos-card a {
            color: white;
            text-decoration: none;
            font-size: clamp(1rem, 3vw, 1.2rem);
            display: inline-block;
            margin-top: 2vw;
        }
        .sos-card :hover{
            text-decoration: underline;
        }

        @media (min-width: 768px) {
            .container {
                padding: 5vw 10vw;
                padding-top: 15vh;
            }
            
            .sos-card {
                flex-direction: row;
                padding: 2vw;
                align-items: center;
            }
            
            .sos-card.reverse {
                flex-direction: row-reverse;
            }
            
            .sos-card img {
                width: 25vw;
                max-width: 200px;
                height: 25vw;
                max-height: 200px;
                margin-right: 2vw;
            }
            
            .sos-card.reverse img {
                margin-right: 0;
                margin-left: 2vw;
            }
            
            .sos-card h2 {
                margin-bottom: 1vw;
            }
            
            .sos-card p {
                margin-bottom: 1.5vw;
                font-size: clamp(1rem, 1.2vw, 1.2rem);
            }
            
            .sos-card a {
                margin-top: 1vw;
            }
        }